[package]
name = "DataBaseManager"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tui = "0.19"
crossterm = "0.25"
strum = "0.24"
strum_macros = "0.24"
rand = "0.8.5"
mysql = "*"
regex = "1"